.count{
  width: 200px;
  height: 300;

 
  color: rgb(9, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

}
.count div span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}   