
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-image img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    margin-bottom: 10px;
}

.text {
    margin: 0;
}

.submit {
    margin-top: 15px;
}

.table_btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table_btn:hover {
    background-color: #45a049;
}
